/* Tailwind 3.4 官網 */
/* https://v3.tailwindcss.com/ */

/* Font-awesome */
/* https://fontawesome.com/search?ic=free-collection */

:root {
  --main-color: #faf9ee;
  /* 淡黃 */
  --green-gray: #a2af9b;
  /* 抹茶綠 */
  --soft-brown: #dccfc0;
  /* 亮咖啡 */
  --light-gray: #eeeeee;
  /* 淡灰 */
}

* {
  font-family: "LXGW WenKai TC";
}

body {
  background-color: var(--main-color);
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

input:focus {
  outline: none;
  box-shadow: none;
}

.product-serve {
  margin-top: 100px;
  margin-bottom: 80px;
  margin-left: 3%;
  margin-right: 3%;
}

.find {
  display: block;
  border: 2px solid var(--green-gray);
  margin: 0 auto;
  width: 70%;
  font-size: 24px;
  padding: 12px 24px;
  border-radius: 12px;
}

.find-filter {
  margin-left: 15%;
  margin-top: 16px;
}

.filter-word {
  display: inline-block;
  background-color: var(--green-gray);
  /* font-size: 20px; */
  padding: 4px 8px;
}

.product-pic-area {
  display: grid;
  margin: 0 3%;
  width: 94%;
  gap: 80px;
  grid-template-columns: repeat(3, 1fr);
  /* background-color: #aaaaaa; */
}

.product-card {
  position: relative;
}

.product-pic {
  width: 100%;
}

.product-word {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
}

.product-name {
  font-size: 20px;
  font-weight: 700;
}
