/* Tailwind 3.4 官網 */
/* https://v3.tailwindcss.com/ */

/* Font-awesome */
/* https://fontawesome.com/search?ic=free-collection */

:root {
  --main-color: #faf9ee;
  /* 淡黃 */
  --green-gray: #a2af9b;
  /* 抹茶綠 */
  --soft-brown: #dccfc0;
  /* 亮咖啡 */
  --light-gray: #eeeeee;
  /* 淡灰 */
}

* {
  font-family: "LXGW WenKai TC";
}

body {
  background-color: var(--main-color);
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

/* select {  移除下拉式選單三角形
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
} */

/* 加入自己做的三角形 的方法
  padding: 8px 30px 8px 10px;   右側留空給箭頭 
  background: url('arrow-down.svg') no-repeat right center;  自訂箭頭 
  background-size: 16px 16px;     調整大小 
  border: 1px solid #ccc;
  border-radius: 4px; */

select:focus {
  outline: none;
  box-shadow: none;
}

input:focus {
  outline: none;
  box-shadow: none;
}

.disabled-word {
  color: var(--light-gray);
}

.product-serve {
  margin-top: 100px;
  margin-bottom: 80px;
  margin-left: 3%;
  margin-right: 3%;
}

.find {
  display: block;
  border: 2px solid var(--green-gray);
  margin: 0 auto;
  width: 70%;
  font-size: 24px;
  padding: 12px 24px;
  border-radius: 12px;
}

.find-filter {
  margin-left: 15%;
}

.roast {
  padding: 4px 8px;
  display: flex;
  font-size: 20px;
  margin-top: 8px;
}

.roast-word {
  padding: 4px 8px;
  background-color: var(--soft-brown);
  /* margin-right: 8px; */
}

.roast-choose {
  border: 4px solid var(--soft-brown);
  padding-left: 4px;
  padding-right: 4px;
}

.roast-bg {
  background-color: var(--soft-brown);
}

.product-pic-area {
  display: grid;
  margin: 0 3%;
  width: 94%;
  gap: 80px;
  grid-template-columns: repeat(3, 1fr);
  /* background-color: #aaaaaa; */
}

.product-card {
  position: relative;
}

.product-pic {
  width: 100%;
}

.product-word {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
}

.product-name {
  font-size: 20px;
  font-weight: 700;
}
