/* Tailwind 3.4 官網 */
/* https://v3.tailwindcss.com/ */

/* Font-awesome */
/* https://fontawesome.com/search?ic=free-collection */

:root {
  --main-color: #faf9ee;
  /* 淡黃 */
  --green-gray: #a2af9b;
  /* 抹茶綠 */
  --soft-brown: #dccfc0;
  /* 亮咖啡 */
  --light-gray: #eeeeee;
  /* 淡灰 */
}

* {
  font-family: "LXGW WenKai TC";
  color: #222222;
}

body {
  background-color: var(--main-color);
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

/* select {  移除下拉式選單三角形
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
} */

/* 加入自己做的三角形 的方法
  padding: 8px 30px 8px 10px;   右側留空給箭頭 
  background: url('arrow-down.svg') no-repeat right center;  自訂箭頭 
  background-size: 16px 16px;     調整大小 
  border: 1px solid #ccc;
  border-radius: 4px; */

select:focus {
  outline: none;
  box-shadow: none;
}

input:focus {
  outline: none;
  box-shadow: none;
}

.disabled-word {
  color: var(--light-gray);
}

.product-serve {
  margin-top: 100px;
  margin-bottom: 80px;
  margin-left: 3%;
  margin-right: 3%;
}

.find {
  display: block;
  border: 2px solid var(--green-gray);
  margin: 0 auto;
  width: 70%;
  font-size: 24px;
  padding: 12px 24px;
  border-radius: 12px;
}

.find-filter {
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  margin-top: 12px;
}

.IC-filter-list {
  line-height: 30px;
  padding-right: 8px;
}

.category {
  padding: 4px 12px;
  display: flex;
  font-size: 20px;
}

.category-word {
  display: flex;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 10px;
  background-color: #cfbde8;
}

.category-choose {
  border: 4px solid #cfbde8;
  padding: 0 4px;
}

.category-bg {
  background-color: #cfbde8;
}

.roast {
  padding: 4px 12px;
  display: flex;
  font-size: 20px;
}

.roast-word {
  display: flex;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 10px;
  background-color: var(--soft-brown);
}

.roast-choose {
  border: 4px solid var(--soft-brown);
  padding: 0 4px;
}

.roast-bg {
  background-color: var(--soft-brown);
}

.source {
  padding: 4px 12px;
  display: flex;
  font-size: 20px;
}

.source-word {
  display: flex;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 10px;
  background-color: var(--green-gray);
  color: #000000;
}

.source-choose {
  border: 4px solid var(--green-gray);
  padding-left: 4px;
  padding-right: 4px;
}

.source-bg {
  background-color: var(--green-gray);
}

.flavor {
  padding: 4px 12px;
  display: flex;
  font-size: 20px;
}

.flavor-word {
  display: flex;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 10px;
  background-color: #d8c2c3;
}

.flavor-choose {
  border: 4px solid #d8c2c3;
  padding-left: 4px;
  padding-right: 4px;
}

.flavor-bg {
  background-color: #d8c2c3;
}

.money-area {
  padding: 4px 12px;
  display: flex;
  font-size: 20px;
}

.money-area-word {
  display: flex;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 10px;
  background-color: #c4ced6;
}

.money-area-choose {
  border: 4px solid #c4ced6;
  padding-left: 4px;
  padding-right: 4px;
}

.money-area-bg {
  background-color: #c4ced6;
}

.sort {
  /* margin: 0 3%;
  margin-top: ;
  margin-bottom: ; */
  display: flex;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 12px;
  font-size: 20px;
}

.sort-title {
  display: flex;
  margin-right: 4px;
}

.IC-sort {
  line-height: 30px;
  margin-right: 4px;
}

.radio-center {
  display: flex;
  align-items: center;
}

.sort-radio {
  margin-right: 24px;
  width: 20px;
  height: 20px;
  accent-color: #a2af9b;
}

.product-pic-area {
  display: grid;
  margin: 0 3%;
  width: 94%;
  gap: 80px;
  grid-template-columns: repeat(3, 1fr);
  /* background-color: #aaaaaa; */
}

.product-card {
  position: relative;
}

.product-pic {
  width: 100%;
}

.product-word {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
}

.product-name {
  font-size: 20px;
  font-weight: 700;
}
