/* Tailwind 3.4 官網 */
/* https://v3.tailwindcss.com/ */

/* Font-awesome */
/* https://fontawesome.com/search?ic=free-collection */

:root {
  --main-color: #faf9ee;
  /* 淡黃 */
  --green-gray: #a2af9b;
  /* 抹茶綠 */
  --soft-brown: #dccfc0;
  /* 亮咖啡 */
  --light-gray: #eeeeee;
  /* 淡灰 */
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

.product-pic-area {
  display: grid;
  margin: 0 3%;
  width: 94%;
  gap: 5.3%;
  grid-template-columns: repeat(3, 1fr);
  background-color: #aaaaaa;
}

.product-card {
  position: relative;
}

.product-pic {
  width: 100%;
}

.product-word {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
}

.product-name {
  font-size: 20px;
}
