/* Tailwind 3.4 官網 */
/* https://v3.tailwindcss.com/ */

/* Font-awesome */
/* https://fontawesome.com/search?ic=free-collection */

:root {
  --main-color: #faf9ee;
  /* 淡黃 */
  --green-gray: #a2af9b;
  /* 抹茶綠 */
  --soft-brown: #dccfc0;
  /* 亮咖啡 */
  --light-gray: #eeeeee;
  /* 淡灰 */
}

.product-pic-area {
  display: grid;
  margin: 0 3%;
  width: 94%;
  gap: 5.3%;
  grid-template-columns: repeat(3, 1fr);
  background-color: #aaaaaa;
}

.product-card {
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 24px;
  min-height: 800px;
  background-image: url(./pic/ex.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.product-word {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-name {
  font-size: 20px;
}
